

body {
	background: #121212;
	padding-left: 10%;
	padding-right: 10%;
}
#container_main {
	width: 1000px;
	margin: auto;
	display: block;
}
#container_header {
	background-color: #1c1c1c;
	margin: 5% 8.5% 5% 8.5%;
	padding: 2% 5% 2% 5%;
	border: solid; border-color: #8a4000; 
}
