@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Secular+One&display=swap');



body {
	background-image: linear-gradient(to right, #333333, #141414);
	padding-left: 10%;
	padding-right: 10%;
}
h1, h2, h3, h4, h5, p {
	color: white;
}
#container_main {
	width: 1000px;
	margin: auto;
	display: block;
	font-family: 'Montserrat';
}
#container_header {
	min-height: 175px;
	background-color: #1c1c1c;
	margin: 5% 8.5% 5% 8.5%;
	padding: 2% 5% 2% 5%;
	border: solid; border-color: #c24a00; border-radius: 12px;
	box-shadow: 0px 0px 10px 0px;
}
#container_body {
	background-color: #1c1c1c;
	margin: 2.5% 8.5% 5% 8.5%;
	padding: 2% 5% 2% 5%;
	border: solid; border-color: #c24a00; border-radius: 12px;
}
#container_intro {
	min-height: 280px;
}

#container_stats {
	overflow: auto;
	padding: 2.5% 5% 2.5% 5%;
}
#title {
	float: left;
	padding-top: 70px;
	display: inline;
	width: 200px;
}
#menu {
	padding-top: 70px;
	position: relative;
	float: right;
	display: inline-block;
}
#menu_button {
	background-color: #c24a00;
	font-family: 'Montserrat';
	color: white;
	padding: 12px 15px 12px 15px ;
	font-size: 16px;
}
#menu_options {
	display: none;
	position: absolute;
	background-color: #c24a00
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.stat_box {
	display: inline-block;
	margin: 2%;
	padding: 10px 20px 10px 20px;
	text-align: center;
	border: solid 1px; border-color: #c24a00; border-radius: 12px;
	width: 20%;
}
#container_stats :hover {
	background-color: #333333;
}
.stat_box h4 {
	color: #c24a00;
}